/* 
 * Custom Figure Metadata Styling
 * ==============================
 * 
 * Styles for the metadata information displayed below figures
 * (author, license, date)
 */

.figure-metadata {
    font-size: 0.85em;  /* slightly smaller relative to parent element */
    color: var(--pst-color-muted-highlight); /* use a muted color from the theme */
    font-style: italic; /* make it slanted to differentiate from main caption */
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--pst-color-border); /* subtle top border */
}